// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$primary-red: #c3073f;
$secondary: #950740;
$white: #ffffff;
$grey: #4e4e50;

$fnt-sm: 1rem;
$fnt-md: 1.5rem;
$fnt-lg: 2.5rem;
